html {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/Users/grand/Documents/Greenfox/websites/myFirstWebsite/assets/background.png');
    margin: 0;
}

#header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #333333;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#header div {
    padding-right: 10%;
}

img {
    position: absolute;
    left: 10%;
}

a {
    padding: 0 20px;
}

  a:visited {
    color: #ff0099;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
 
  }
  
body {
    margin: 0;
    
}
  
body h1,h3,h5 {
    padding-left: 10%;
    padding-right: 10%;
}

body h5 {
    font-weight: normal;
}

body h1 {
    margin-top: 75px;
    font-size: 40px;
}